{% extends "templates/base.html" %}

{% block body %}


<div id='chrome'>

  <div id='logo'>Cardsy</div>


  <div id='buttons'>

    <div class='button'>
      &larr;
    </div>

    <div class='button'>
      &rarr;
    </div>

    <div class='button'>
      Delete Canvas
    </div>

    <div class='button'>
      New Canvas
    </div>
  </div>

</div>

<div id='canvas'>

</div>

{% endblock %}

{% block js %}

  <script type='text/javascript'>

    $(document).ready(function() {
      Cardsy.init(); 
    });

  </script>

{% endblock %}
