{% extends "templates/base.html" %}

{% block body %}

<div id='canvas'>

  <textarea class='sticky'>This is a card that's inactive. It's just chillin'.</textarea>

  <textarea spellcheck='false' class='sticky'>This card has spellcheck turned off.</textarea>

  <textarea class='sticky'>This is a card that's been selected, either by ctrl-click or a selection square.</textarea>

  <textarea class='sticky'>This is a card that's inactive. It's just chillin'.</textarea>
 
   <textarea class='sticky'>This is a card that's inactive. It's just chillin'.</textarea>
 
   <textarea class='sticky'>This is a card that's inactive. It's just chillin'.</textarea>
  

  <br/><br/>

  

  <textarea class='sticky'>Just some more content.</textarea>



  <pre id='practice'></pre>

</div>


  <div class="ghost-select">
    <span></span>
  </div>

{% endblock %}

{% block js %}

  <script type='text/javascript'>

    $(document).ready(function() {
      Cardsy.init(); 
    });

  </script>

{% endblock %}
