{% extends "templates/base.html" %}

{% block body %}


<div id='chrome'>

  <div id='logo'>Cardsy</div>


  <div id='buttons'>
    <a id='previous' class='button' href='#'>&larr;</a>
    <div id='canvas-indicator'></div>
    <a id='next' class='button' href='#'>&rarr;</a> 

    <a id='delete' class='button' href='#'>Delete Canvas</a>
    <a id='new' class='button' href='#'>New Canvas</a>
  </div>

</div>

<div id='canvas'>

</div>

{% endblock %}

{% block js %}

  <script type='text/javascript'>

    $(document).ready(function() {
      Cardsy.init(); 
    });

  </script>

{% endblock %}
