{% extends "templates/base.html" %}

{% block body %}

  <div class='card paper-lined'>
    A lined card background.
    <div class='delete'>x</div>
  </div>


  <div class='card paper-lined'>
    A lined card background.
    <div class='delete'>x</div>
  </div>

  <div class='card paper-lined'>
    A lined card background.
    <div class='delete'>x</div>
  </div>

  <div class='card paper-lined'>
    A lined card background.
    <div class='delete'>x</div>
  </div>

  <div class='card paper-lined'>
    A lined card background.
    <div class='delete'>x</div>
  </div>

  <div class='card paper-lined'>
    A lined card background.
    <div class='delete'>x</div>
  </div>

{% endblock %}

{% block js %}
  <script type='text/javascript'>
    $(document).ready(function() {
      $('.card').draggable();
      $('.delete').click(function(e) { deleteCard(e) }); 
    });
  </script>
{% endblock %}
