{% extends "templates/base.html" %}

{% block body %}

  <div class='card paper-exclusive font-georgia'>
    This is an index card, in Georgia.
  </div>

  <div class='card paper-one font-arial'>
    Here's another index card, in Arial.
  </div>

  <div class='card paper-two font-verdana'>
    Numero tres, in Verdana.
  </div>

  <div class='card paper-three font-opensans'>
    A fourth card, in Open Sans.
  </div>

  <div class='card paper-lined'>
    A lined card background.
  </div>

  <div class='card'>
    A plain card without a textured background.
  </div>

{% endblock %}

{% block js %}
  <script type='text/javascript'>
    $(document).ready(function() {
      $('.card').draggable();
    });
  </script>
{% endblock %}
