{% extends "templates/base.html" %}

{% block body %}

  <div class='card paper-lined'>
    A lined card background.
  </div>

  <div class='card paper-lined'>
    A lined card background.
  </div>

  <div class='card paper-lined'>
    A lined card background.
  </div>

  <div class='card paper-lined'>
    A lined card background.
  </div>

  <div class='card paper-lined'>
    A lined card background.
  </div>

  <div class='card paper-lined'>
    A lined card background.
  </div>

{% endblock %}

{% block js %}
  <script type='text/javascript'>
    $(document).ready(function() {
      $('.card').draggable();
    });
  </script>
{% endblock %}
