/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

$transition-time: 200ms;
$transition-timing-function: ease-out;

$color-canvas: #fff;

$color-selection-square-fill: rgba(239, 28, 190, 0.6);
$color-selection-square-border: #b20e8c;

$color-sticky-border: #ccc;
$color-sticky-fill: #eee;
$color-sticky-font: #888;

$color-sticky-selected-border: #333;
$color-sticky-selected-fill: #333;
$color-sticky-selected-font: #ccc;

$color-control: #333;

@mixin palette_ivory {

  $palette-accent: #BDB9A5;
  $palette-canvas: #F0EBD2;
  $palette-accent-dark: #706E62;
  $palette-card-fill: darken($palette-canvas, 5%);

  $color-canvas: $palette-canvas !global;

  $color-selection-square-fill: rgba(255, 255, 255, 0.3) !global;
  $color-selection-square-border: #fff !global;

  $color-sticky-border: $palette-accent !global;
  $color-sticky-fill: $palette-card-fill !global;
  $color-sticky-font: $palette-accent-dark !global;

  $color-sticky-selected-border: $palette-accent-dark !global;
  $color-sticky-selected-fill: $palette-card-fill !global;
  $color-sticky-selected-font: $palette-accent-dark !global;

  $color-control: $palette-accent-dark !global;
}

@mixin palette-gray-and-pink {
  
  $palette-canvas: #EEE;
  $palette-accent: #848B8C;
  $palette-accent-dark: #242526;
  $palette-highlight: #731E34;


  $palette-card-fill: $palette-canvas;

  $color-canvas: $palette-canvas !global;

  $color-selection-square-fill: rgba($palette-highlight, 0.1) !global;
  $color-selection-square-border: $palette-highlight !global;

  $color-sticky-border: $palette-accent !global;
  $color-sticky-fill: $palette-card-fill !global;
  $color-sticky-font: darken($palette-canvas, 50%) !global;

  $color-sticky-selected-border: lighten($palette-highlight, 20%) !global;

  // TODO: can we mix the highlight color into the card fill with a mixin?
  $color-sticky-selected-fill: mix($color-sticky-fill, $palette-highlight, 90%) !global;
  $color-sticky-selected-font: $color-sticky-selected-border !global;

  $color-control: $color-sticky-font !global;
}




// @include palette_ivory();
@include palette-gray-and-pink();

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}




html,
button,
input,
select,
textarea {
    color: #222;
    font-size:13px;
    font-family: 'Lato', sans-serif;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Selection Square
   ========================================================================== */

.ghost-select {
  position: absolute;
  display: none;
  z-index: 9000;
  cursor: default;
}

.ghost-select.selecting {
  display: block;
}

.ghost-select > span {
  background-color: $color-selection-square-fill;
  border: 1px solid $color-selection-square-border;
  width: 100%;
  height: 100%;
  float: left;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */


html, body, #canvas {
  width: 100%;
  height: 100%;
}

#canvas {
  background-color: $color-canvas;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {  
  overflow: hidden;
}

/* ==========================================================================
   V2 Nav Bar
   ========================================================================== */

#nav {
  position: absolute;
  top: 20px;
  left: 30px;
  font-weight: 300;

  color: $color-control;
}

.board-title {
  font-size:20px;
}

.my-boards, .my-boards:hover {
  text-decoration: none;
}

.board-title, .my-boards, .my-boards:hover {
  color: $color-control;  
}

/* ==========================================================================
   Action Panel
   ========================================================================== */

#action-panel {

  font-family: 'Arvo', serif;
  background-color: #04202b;
  height: 50px;
}

#buttons {

  color: #fff;
  float: right;

  margin-right: 40px;
}

.button {
  float: left;
  margin-top: 10px;
  padding: 5px 10px; 

  border-radius: 2px;
  moz-border-radius: 2px;
  webkit-border-radius: 2px;

  text-decoration: none;
  cursor: pointer;
}

#canvas-indicator {
  float: left;
  text-align: center;
  width: 70px;
  line-height: 50px;

  color: #d9b166;
}

#delete {
  margin-left: 60px;
  background-color: #bf3b0b;
  color: #fff;
}

#next, #previous {

  background-color: #d9b166;
  color: #000;
}

#new {
  margin-left: 20px;
  background-color: #066873;
  color: #fff;
}

#logo {
  color: #fff;
  font-size: 16px; 
  line-height: 50px;

  position: relative;
  left: 40px;

  float: left;

  text-decoration: none;
}

/* ==========================================================================
   Cards
   ========================================================================== */



.card {
  position: absolute;

  width: 200px;
  padding: 10px;

  background-image: url(/static/img/lined_paper.png);
  background-color: #fff;

  -moz-box-shadow: 0 0 2px #888;
  -webkit-box-shadow: 0 0 2px #888;
  box-shadow: 0 0 2px #888;

  cursor: hand;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.sticky, #practice {
  width: 200px;
  line-height:1.4em;
  border: solid 2px $color-sticky-border;
  padding: 10px;
}

.sticky {
  position: absolute;
  height: 125px;
  background-color: $color-sticky-fill;
  color: $color-sticky-font;  

  -webkit-transition: all $transition-time $transition-timing-function;
  -moz-transition: all $transition-time $transition-timing-function;
  -o-transition: all $transition-time $transition-timing-function;
  transition: all $transition-time $transition-timing-function;
}

.sticky.shrunk {
  height: 0;
  width: 0;
  padding: 0;
  border: 0px;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.sticky.selected {
  border: 2px solid $color-sticky-selected-border;
  background-color: $color-sticky-selected-fill;
  color: $color-sticky-selected-font;
}

#practice {
  min-height: 125px;  /* matches .sticky's height */
}

#practice {

  position: absolute;
  left: -9999px;
  top: -9999px;
  font-family: sans-serif;

  background-color: #eee;
  color: #aaa;
  
}


.practice-card {
  position: relative;

  padding: 1em;
  
  width: 150px;
  height: 100px;
}

.delete {
  position: absolute;
  top: -10px;
  right: -10px;
  height: 25px;
  width: 25px;

  moz-border-radius: 25px;
  webkit-border-radius: 25px;
  border-radius: 25px;

  border:2px solid #fff;

  background-color: #000;
  color: #fff;

  padding-top: 1px;
  padding-left: 5px;

  cursor: pointer;
}

.delete.hover {
  background-color: #cc0000;
}

textarea {

  width: 300px;
  background: none;
  outline: none;
  resize: none;
  
  overflow: hidden !important;  /* override expanding.js's inline style */
}

/* ==========================================================================
   Trashcan
   ========================================================================== */

.trash {
  position: absolute;
  bottom: -50px;

  height: 50px;
  width: 100%;

  background-image: url(../img/trash.png);
  background-repeat: no-repeat;
  background-size: 2%;
  background-position-x: 50%;
  background-position-y: 50%;

  -webkit-transition: all $transition-time $transition-timing-function;
  -moz-transition: all $transition-time $transition-timing-function;
  -o-transition: all $transition-time $transition-timing-function;
  transition: all $transition-time $transition-timing-function;
}

.trash.reveal {
  -webkit-transform: translate3d(0, -50px, 0);
  -moz-transform: translate3d(0, -50px, 0);
  -o-transform: translate3d(0, -50px, 0);
  transform: translate3d(0, -50px, 0);
}

.trash.hover {
  background-color: $color-sticky-selected-fill;
}

.trashed {
  opacity: 0;
  -webkit-opacity: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

