/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

$color-canvas: #fff;

$color-selection-square-fill: rgba(239, 28, 190, 0.6);
$color-selection-square-border: #b20e8c;

$color-sticky-border: #ccc;
$color-sticky-fill: #eee;

$color-sticky-selected-border: #333;
$color-sticky-selected-fill: #ccc;

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}




html,
button,
input,
select,
textarea {
    color: #222;
    font-size:14px;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Selection Square
   ========================================================================== */

.ghost-select {
  position: absolute;
  display: none;
  z-index: 9000;
  cursor: default;
}

.ghost-select.selecting {
  display: block;
}

.ghost-select > span {
  background-color: $color-selection-square-fill;
  border: 1px solid $color-selection-square-border;
  width: 100%;
  height: 100%;
  float: left;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */


html, body, #canvas {
  width: 100%;
  height: 100%;
}

#canvas {
  background-color: $color-canvas;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {  
  overflow: hidden;
}

/* ==========================================================================
   Action Panel
   ========================================================================== */

#action-panel {

  font-family: 'Arvo', serif;
  background-color: #04202b;
  height: 50px;
}

#buttons {

  color: #fff;
  float: right;

  margin-right: 40px;
}

.button {
  float: left;
  margin-top: 10px;
  padding: 5px 10px; 

  border-radius: 2px;
  moz-border-radius: 2px;
  webkit-border-radius: 2px;

  text-decoration: none;
  cursor: pointer;
}

#canvas-indicator {
  float: left;
  text-align: center;
  width: 70px;
  line-height: 50px;

  color: #d9b166;
}

#delete {
  margin-left: 60px;
  background-color: #bf3b0b;
  color: #fff;
}

#next, #previous {

  background-color: #d9b166;
  color: #000;
}

#new {
  margin-left: 20px;
  background-color: #066873;
  color: #fff;
}

#logo {
  color: #fff;
  font-size: 16px; 
  line-height: 50px;

  position: relative;
  left: 40px;

  float: left;

  text-decoration: none;
}

/* ==========================================================================
   Cards
   ========================================================================== */



.card {
  position: absolute;

  width: 200px;
  padding: 10px;

  background-image: url(/static/img/lined_paper.png);
  background-color: #fff;

  -moz-box-shadow: 0 0 2px #888;
  -webkit-box-shadow: 0 0 2px #888;
  box-shadow: 0 0 2px #888;

  cursor: hand;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.sticky, #practice {
  width: 200px;
  line-height:1.4em;
  border: solid 2px $color-sticky-border;
  padding: 10px;
}

.sticky {
  position: absolute;
  height: 125px;
  background-color: $color-sticky-fill;
  color: #888;

  transition: all 300ms;
}

.notransition {
  transition: 0 !important;
}

.sticky.selected {
  border: 2px solid $color-sticky-selected-border;
  background-color: $color-sticky-selected-fill;
  color: #333;
}

#practice {
  min-height: 125px;  /* matches .sticky's height */
}

#practice {

  position: absolute;
  left: -9999px;
  top: -9999px;
  font-family: sans-serif;

  background-color: #eee;
  color: #aaa;
  
}


.practice-card {
  position: relative;

  padding: 1em;
  
  width: 150px;
  height: 100px;
}

.delete {
  position: absolute;
  top: -10px;
  right: -10px;
  height: 25px;
  width: 25px;

  moz-border-radius: 25px;
  webkit-border-radius: 25px;
  border-radius: 25px;

  border:2px solid #fff;

  background-color: #000;
  color: #fff;

  padding-top: 1px;
  padding-left: 5px;

  cursor: pointer;
}

.delete.hover {
  background-color: #cc0000;
}

textarea {

  width: 300px;
  background: none;
  outline: none;
  resize: none;
  
  overflow: hidden !important;  /* override expanding.js's inline style */
}

/* ==========================================================================
   Trashcan
   ========================================================================== */

.trash {
  position: absolute;
  bottom: -50px;
  width: 100%;
  height: 50px;
  background-color: #aaa;

  transition: all 300ms;
}

.trash.reveal {
  bottom: 0px;
}

.trashed {
  opacity: 0;
  -webkit-opacity: 0;
}
/* ==========================================================================
   Expanding.js overrides
   ========================================================================== */

.expanding-wrapper {
  background-color: gray;
  width: 250px;
  min-height: 150px;
}

.expanding {
  padding: 10px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

